
/*positionement bouton*/
body{
    display: block;
    background-color: black;
  text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:25%;
   

}

/*mise en page bouton*/
input{
  

font-size: 30px;
border:solid 4px;
border-color: white;
background-color: black;
color: aliceblue;
padding: 10px;
margin:30px;



}
/*couleur bouton*/

input:hover{

    background-color:white;
    color: black;
   
  
}

/* effet de zoom au passage de la souris*/
#b2:hover{

    transform: scale(1.5);
}

/* slide au passage de la souris*/
#b3:hover{
transform: translate(40px);
transition: 1s;

}


